#friends-display-link {
  text-align: center;
  display: block; /* block 요소로 바꾸고 문구를 가운데 정렬*/
  background-color: #fafafa;
  padding: 10px 0px;
  /* 위아래 여백을 줌. padding을 주면 
  padding을 준 만큼 box의 크기가 커지는것처럼 보임 */
  font-size: 16px;
  margin-bottom: 10px; /* 프로필과의 여백을 줌*/
  margin-top: -15px;
}

#friends-display-link i {
  color: rgba(0, 0, 0, 0.3);
  /* 아이콘 색상 변경 */
}

.friends-screen {
  padding: 0px var(--horizontal-space);
}

.freinds-screen__channel {
  margin-top: 25px; /* Channel 프로필 영역의 윗부분에 여백을줌 */
  border-top: var(--main-border); /* Channel 프로필 영역위에 경계선을 줌 */
  padding-top: 15px;
}

.freinds-screen__channel-header {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  color: rgba(0, 0, 0, 0.5);
}

@keyframes hideSplashScreen {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

#splash-screen {
  background-color: var(--yellow);
  position: absolute; /* <body>를 기준으로 위치 이동*/
  height: 100vh;
  width: 100vw;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 90px;
  animation: hideSplashScreen 0.3s ease-in-out forwards;
  animation-delay: 1s;
}
